{% extends 'base.html' %}

{%block content%}
<div class="row mt-5">
    <div class="col-12 col-md-4 offset-md-4">
        <h3>Agregar Pasajero</h3>
        <form action="#" method="post" class="mt-5">
            {% csrf_token %}
            {%for field in form%}
            <div class="mb-2">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {%endfor%}
            <input type="submit" value="Agregar" class="btn btn-outline-success mt-3">
        </form>
    </div>
</div>
{%endblock%}